body {
  padding: 0;
  margin: 0;
  background: rgba(53, 53, 106, 0.888);
}

header {
  background-color: rgba(53, 53, 106, 0.888);
}

.navbar {
  display: flex;
  flex-direction: row;
  /* space evenly or around for narrow, space-between for wide */
  justify-content: space-between;
  flex: 1;
}

.right-links {
  display: flex;
  color: #f9faf8;
  align-items: center;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

.headerLink {
  margin: 15px;
  color: white;
  text-decoration: none;
  padding-right: 20px;
  padding-top: 20px;
}

.headerLink:hover {
  color: rgb(209, 206, 206);
}

h1 {
  color: #f9faf8;
}

h3 {
  color: #f9faf8;
  font-size: 24px;
  margin: 15px;
  padding-left: 20px;
  padding-top: 20px;
}

.headerCard {
  min-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  flex-direction: row;
  justify-content: left;
  padding: 125px;
}

#signUpButton {
  background-color: #3882f6;
  color: #f9faf8;
}

p {
  color: #f9faf8;
}

#heroImage {
  background-color: grey;
  color: #f9faf8;
  /* remember min-width when troubleshooting hero layouts and cards */
  min-width: 550px;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 25px;
}

.randomInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

#randomHeader {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  padding-top: 20px;
}

.randomContentParent {
  display: flex;
  padding: 100px 150px 75px 150px;
}

.randomContentChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100;
  text-align: center;
}

/* The color for the button that we will use for the call to action is rgb(0, 98, 204) */

.randomImage {
  border: solid rgb(0, 98, 204) 2px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.randomPara {
  color: black;
}

button {
  cursor: pointer;
}

.quoteDiv {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.quote {
  font-size: 30px;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
  display: flex;
  text-align: left;
  max-width: 1000px;
  padding-left: 100px;
  padding-right: 100px;
}

.name {
  align-self: flex-end;
  font-size: 20px;
  color: black;
  font-style: none;
  font-style: none;
  min-width: 100px;
  padding-right: 350px;
}

.callToActionParent {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callToActionChild {
  background-color: #0d6efd;
  display: flex;
  border-radius: 10px;
  padding: 30px;
  width: 1000px;
  align-items: center;
  justify-content: space-evenly;
  height: 125px;
}

.actionContent {
  color: white;
}

.bottomButton {
  background-color: #0d6efd;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  cursor: pointer;
}
.bottomButton:hover {
  background-color: #0f55bedf;
}

.bottomPara {
  margin-bottom: 0;
}

footer {
  display: flex;
  height: 100px;
  color: white;
  background-color: rgba(53, 53, 106, 0.888);
  justify-content: center;
  align-items: center;
}

@media (max-width: 842px) {
  .headerCard {
    flex-direction: column;
    width: 100vh;
  }
}

@media (max-width: 576px) {
  #heroImage {
    opacity: 0;
  }
}
